.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: white;
    padding: 15px;
    /* width: 100%; */
    position: relative;
    z-index: 1000;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar > * {
    /* flex: 1; */
    color: #001D67;
}

.logo img {
    height: 40px;
}

.title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
}